.sorting-algorithms-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #1e1e1e; /* Optional background color for the app window */
  }
  