body > iframe {
  display: none;
}

/* Prevent scrolling */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Disable scrolling */
  height: 100%;
}

/* Hide React error overlay */
#react-error-overlay {
  display: none !important;
}
